<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <title>豆芽购物助手</title>
    <meta name="description" content="豆芽铺是一家为了使得用户有更平等购物体验的电商导购网站，提供给用户全全面的实时优惠券信息！">
    <meta name="keywords" content="折扣,优惠,51返利,什么值得买,淘宝,天猫,京东,值得买,购物党,购物助手,返利,返现,优惠券工具,惠惠">
    <link rel="SHORTCUT ICON" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/public/static/css/common.css"/>
    <!-- 轮播图插件 -->
    <script type="text/javascript" src="/public/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/public/static/js/angular.min.js"></script>
</head>
<body>
<div class="fixedtool">
    <div>
        <a href="/#download">
            <b class="icon2"></b>
            <div class="t">下载购物助手</div>
            <div class="x"></div>
        </a>
        <a>
            <b class="icon3"></b>
            <div class="t">下载APP</div>
            <div class="x"></div>
            <div class="appTc">
                <img src="/public/static/img/index/apptan.png" alt="">
            </div>
        </a>
        <a href="//shang.qq.com/wpa/qunwpa?idkey=07df4060e4b8ca7215881d58e29bdaad66177f17a11a82484c3dfa9168ebc2d2" target="_blank">
            <b class="icon5"></b>
            <div class="t">在线客服</div>
            <div class="x"></div>
        </a>
        <div>
            <b class="icon4" style="display: none"></b>
        </div>
    </div>
</div>
<script>
    $(".fixedtool .icon3").parent().hover(function () {
        $(this).find(".appTc").show();
    }, function () {
        $(this).find(".appTc").hide();
    })
</script>
<!--底部广告栏-->
<div class="bottom-ad dypslideInLeft dypanimated">
    <div></div>
    <i></i>
</div>
<div class="new-add">
    <img src="/public/static/img/newAdd.png" alt="">
    <div class="new-add-X"><img src="/public/static/img/index/cancel.png" alt=""></div>
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            if (document.cookie.indexOf("add=1") == -1) {
                function douyaCreateScript(t, m) {
                    var myScript = document.createElement("script");
                    myScript.type = "text/javascript";
                    myScript.async = false;
                    myScript.appendChild(document.createTextNode(`
                                var _czc = _czc || [];
                                _czc.push(["_setAccount", "1264352198"]);
                                _czc.push(["_trackEvent", '${m}', "弹出"]);
                            `));
                    document[t].appendChild(myScript);
                }   //打点统计代码向页面插入点击script
                !function () {
                    douyaCreateScript("body", "支付宝红包");
                    var cnzzCreateScript = document.createElement("script");
                    cnzzCreateScript.type = 'text/javascript';
                    cnzzCreateScript.async = false;
                    cnzzCreateScript.src = "https://s13.cnzz.com/z_stat.php?id=1264352198&web_id=1264352198";
                    document.body.appendChild(cnzzCreateScript);
                }();    //打点统计代码
                var curDate = new Date();
                var curTamp = curDate.getTime();
                var curWeeHours = new Date(curDate.toLocaleDateString()).getTime() - 1;
                var passedTamp = curTamp - curWeeHours;
                var leftTamp = 24 * 60 * 60 * 1000 - passedTamp;
                var leftTime = new Date();
                leftTime.setTime(leftTamp + curTamp);
                document.cookie = "add=1;expires=" + leftTime;
                $(".new-add").show();
                $(".new-add-X").click(function () {
                    $(".new-add").hide()
                });
                $(".bottom-ad").show();
                $(".bottom-ad div").click(function () {
                    $(".bottom-ad").fadeOut()
                });
            }
        }, 2000)
    });
</script>
<!--靠右大黑边-->
<div class="body-right-border"></div>
<!--快捷顶部-->
<div id="headertop" class="fs12 c-6c6c6c">
    <div class="clear headertop-box">
        <div class="fl headertop-welcome fs12">你好 , 欢迎来到豆芽铺</div>
        <ul class="fr clear">
            <li id="login">
                <b class="login-icon"></b>
                <span class="login-usename"></span>
                <a class="login-mark c-6c6c6c" href="/user/logout">请登录</a>
                <div class="login-ways" style="display: none">
                    <p>
                        <a href="/user/login?type=qq"><b class="qqlogin"></b>QQ登录</a>
                    </p>
                    <p>
                        <a href="/user/login?type=sina"><b class="wblogin"></b>微博登录</a>
                    </p>
                    <p>
                        <a href="/user/login?type=weixin"><b class="wxlogin"></b>微信登录</a>
                    </p>
                    <p>
                        <a href="/user/login?type=tao"><b class="tblogin"></b>淘宝登录</a>
                    </p>
                </div>
            </li>
            <li class="headertop-vl"></li>
            <li id="collectWeb">收藏本站<i></i></li>
            <li class="headertop-vl"></li>
            <li><a href="/index/chromeplug/" class="c-6c6c6c" target="_blank">帮助</a></li>
        </ul>
    </div>
</div>
<!--头部-->
<div id="header" class="clear">
    <div class="fl">
        <a href="/" title="" class="header-logo">
            豆芽购物助手
        </a>
    </div>
    <div class="fl header-feature">
        <div><b class="icon1"></b>全网好货</div>
        <div><i class="icon"></i></div>
        <div><b class="icon2"></b>实时更新</div>
        <div><i class="icon"></i></div>
        <div><b class="icon3"></b>智能筛选</div>
        <div><i class="icon"></i></div>
        <div><b class="icon4"></b>精选优惠</div>
    </div>
    <div class="fr search-box">
        <label class="fl"><input type="text" name="" value="" id="searchText" maxlength="50" placeholder="请输入想买的宝贝"></label>
        <button type="button" id="searchBtn" class="fr"></button>
        <div id="search-history" style="display: none;">
            <ul>
            </ul>
            <div class="clear">
                <span id="his-dele" class="fr">清除历史记录</span>
            </div>
        </div>
    </div>
</div>