<div id="nav">
    <ul class="nav-box clear">
        <li class="nav-first">
            <a href="/"><span>下载豆芽购物助手</span></a>
            <div class="nav-dropdown" style="display: none">
                <a href="/#download" target="_blank"><p>PC版下载</p></a>
                <a href="/#download" target="_blank"><p>浏览器版下载</p></a>
                <a href="/#app" target="_blank"><p>APP版下载</p></a>
            </div>
        </li>
        <li><a href="/coupon/lists/?cid=1&sort=1"><span>优惠大全</span></a></li>
        <li><a href="/coupon/discount/"><span>超高折扣券</span></a></li>
        <li><a href="/coupon/hots/"><span>豆芽热门券</span></a></li>
        <li><a href="/user/collist/"><span>我的收藏</span></a></li>
        <li><a href="/index/feedback/"><span>意见反馈</span></a></li>
    </ul>
</div>