{include file="../common/header" /}
{include file="../common/nav" /}
<div class="helppage">
    <div class="helppage-box clear">
        <div class="fl helppage-left">
            <h3 class="helppage-left-title">
                <b class="h"></b>
                <span>新手帮助</span>
            </h3>
            <a href="#hui" data-type="hui">
                <p>
                    无法自动安装浏览器版本
                </p>
            </a>
            <a href="#huu" data-type="huu">
                <p>
                    无法正常使用工具
                </p>
            </a>
            <h3 class="helppage-left-title">
                <b class="i"></b>
                <span>其他</span>
            </h3>
            <a href="#hu" data-type="hu">
                <p>
                    如何停用或卸载
                </p>
            </a>
            <a href="#ha" data-type="ha">
                <p>
                    关于我们
                </p>
            </a>
            <a href="#hc" data-type="hc">
                <p>
                    联系我们
                </p>
            </a>
        </div>
        <div class="fr helppage-right">
            <div class="helppage-unable-install" id="hui">
                <h4>若浏览器无法自动加载豆芽铺,请参考以下操作步骤完成豆芽铺的安装流程</h4>
                <p>1. <a href="http://file.douyapu.com/douyapu_v1.1.1.2_120000_360.crx">点击这里</a> , 下载安装文件</p>
                <p>2. 若弹出如下提示窗口 , 请点击继续或确定完成下载</p>
                <div>
                    <img src="/public/static/img/jietu1.png" alt=""/>
                </div>
                <p>3. 在浏览器中找到添加扩展程序功能选项</p>
                <p>4. 点击添加扩展程序 , 将安装包拖入页面内</p>
                <div>
                    <img src="/public/static/img/jietu2.png" alt=""/>
                </div>
                <p>5. 浏览器弹出确认对话框 , 选择确认添加完成安装</p>
            </div>
            <div class="helppage-unable-use" id="huu">
                <h2>浏览器设置问题</h2>
                <p>如果浏览器开启隐身模式 , 或自动清空cookie , 会导致豆芽铺无法正常登陆。以360安全浏览器为例 , 此时应进行如下操作:</p>
                <p>1. 打开360浏览器 , 点击右上角 "工具" , 点选 "清除上网痕迹" 进入设置页面</p>
                <div>
                    <img src="../../../public/static/img/u10.png" alt=""/>
                </div>
                <p>2. 取消 "Cookies和其他网站数据" 前勾选 , 即可关闭自动清理功能</p>
                <div>
                    <img src="../../../public/static/img/u4.png" alt=""/>
                </div>
                <h2>杀毒软件设置问题</h2>
                <p>杀毒软件同样也会自动清理cookie , 导致豆芽铺不能正常使用 , 以360安全卫士为例 , 用户需要进行如下操作:</p>
                <p>1. (最新版) :打开360安全卫士 , 点击 "电脑清理" , 取消 "清理Cookies" 前的勾选 , 取消后 , 比价工具即可恢复正常</p>
                <div>
                    <img src="../../../public/static/img/u6.png" alt=""/>
                </div>
                <p>2. (经典版) :在 "清理垃圾" 下取消 "上网浏览器产生的缓存文件" 前的勾选</p>
                <div>
                    <img src="../../../public/static/img/u8.png" alt=""/>
                </div>
            </div>
            <div class="helppage-uninstall" id="hu">
                <h2>插件卸载方法</h2>
                <p>1.</p>
                <div>
                    <img src="../../../public/static/img/jietu3.png" alt=""/>
                </div>
                <p>2.</p>
                <div>
                    <img src="../../../public/static/img/jietu4.png" alt=""/>
                </div>
            </div>
            <div class="helppage-aboutus" id="ha">
                <p>豆芽铺网站会将最新、最热、最划算的商品一一挑选出来，做到每种商品都有优惠，每件商品都有返利，为您提供最大的便利</p>
            </div>
            <div class="helppage-contactus" id="hc">
                <p>联系我们：1544327536@qq.com | 13066895134 | 官方Q群：596285426</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/static/js/chromeplug.js"></script>
{include file="../common/footer" /}
</body>
</html>