{include file="../common/header" /}
{include file="../common/nav" /}
<link href='/public/static/css/idangerous.swiper2.7.6.css' rel='stylesheet' type='text/css'/>
{include file="../common/banner" /}
<div id="howcall">
    <div class="howcall-top-title"><img src="/public/static/img/howcall1.png" alt=""></div>
    <ul class="clear howcall-box">
        <li>
            <h2 class="howcall-title">步骤一 : 安装豆芽
                <a class="howcall-bgicon-install" href="http://file.douyapu.com/upload/DouYaPu_setup_20180123v3105.exe">立即安装</a>
            </h2>
            <p class="howcall-Subtitle">安装完成后即可打开使用</p>
            <img src="/public/static/img/howcall3.png" alt="">
        </li>
        <li class="noMargin">
            <h2 class="howcall-title">步骤二 : 打开浏览器
                <a class="howcall-bgicon-try" href="http://file.douyapu.com/upload/DouYaPu_setup_20180123v3105.exe">立即试试</a>
            </h2>
            <p class="howcall-Subtitle">已经开启浏览器的用户重启浏览器后生效</p>
            <img src="/public/static/img/howcall4.png" alt="">
        </li>
        <li>
            <h2 class="howcall-title">步骤三 : 用浏览器打开商品页
                <a class="howcall-bgicon-try" href="http://file.douyapu.com/upload/DouYaPu_setup_20180123v3105.exe">立即试试</a>
            </h2>
            <p class="howcall-Subtitle">打开商品详情页便捷使用小助手</p>
            <img src="/public/static/img/howcall5.png" alt="">
        </li>
        <li class="howcall-tips c-484848 noMargin">
            <h3><b class="howcall-tips-bgicon"></b>Q : 豆芽小贴士</h3>
            <h4>1. 无法自动安装解决办法 , <a href="/index/chromeplug/#hui" target="_blank">点击查看教程>></a></h4>
            <h4>2. 无法正常使用工具 , <a href="/index/chromeplug/#huu" target="_blank">点击查看教程>></a></h4>
            <h4>3. 如何停用和卸载 , <a href="/index/chromeplug/#hu" target="_blank">点击查看教程>></a></h4>
            <h4>4. 请确认您访问的商品页是淘宝 、天猫平台（暂时支持上述平台）</h4>
            <p class="howcall-contactus">联系客服让我们帮您解决（加入QQ反馈群：596285426）</p>
        </li>
    </ul>
</div>
<div id="pkother">
    <div class="pkother-top-title"><img src="/public/static/img/howcall2.png" alt=""></div>
    <div class="pkother-box">
        <ul>
            <li class="clear">
                <div class="fl pkother-box-crown">
                    <h2>点击小助手 , 一键领券</h2>
                    <p>购物时直接领券 , 享受超高优惠</p>
                    <img class="pkother-img" src="/public/static/img/pkother1.png" alt="">
                    <b></b>
                </div>
                <img class="pkother-bgvsicon" src="/public/static/img/VS.png" alt="">
                <div class="fr">
                    <h2>领券步骤繁琐</h2>
                    <p>QQ群中找链接 , 再到商品页领券 , 步骤太多</p>
                    <img class="pkother-img" src="/public/static/img/pkother2.png" alt="">
                </div>
            </li>
            <li class="clear">
                <div class="fl pkother-box-crown">
                    <h2>智能搜索 、分类筛选 , 为你找到最省钱的商品</h2>
                    <p>提供多种分类方式与筛选条件 , 快速高效查找最省钱的商品</p>
                    <img class="pkother-img" src="/public/static/img/pkother3.png" alt="">
                    <b></b>
                </div>
                <img class="pkother-bgvsicon" src="/public/static/img/VS.png" alt="">
                <div class="fr">
                    <h2>只能被动接受优惠信息 , 无法搜索和筛选</h2>
                    <p>打开聊天纪录翻看优惠券 , 效率不高</p>
                    <img class="pkother-img" src="/public/static/img/pkother4.png" alt="">
                </div>
            </li>
            <li class="clear">
                <div class="fl pkother-box-crown">
                    <h2>优惠信息上新提醒 , 价格走势一手掌握</h2>
                    <p>优惠券商品快捷入库 , 实时更新优惠券数据</p>
                    <img class="pkother-img" src="/public/static/img/pkother5.png" alt="">
                    <b></b>
                </div>
                <img class="pkother-bgvsicon" src="/public/static/img/VS.png" alt="">
                <div class="fr">
                    <h2>单一群接收推送 , 可能错过优惠信息</h2>
                    <p>优惠笔数有限 , 还可能出现商家假意促销的优惠</p>
                    <img class="pkother-img" src="/public/static/img/pkother6.png" alt="">
                </div>
            </li>
            <li class="clear">
                <div class="fl pkother-box-crown">
                    <h2>小巧便捷客户端 , 轻松购物</h2>
                    <p>无需加群 , 不再有不停闪的提示消息</p>
                    <img class="pkother-img" src="/public/static/img/pkother7.png" alt="">
                    <b></b>
                </div>
                <img class="pkother-bgvsicon" src="/public/static/img/VS.png" alt="">
                <div class="fr">
                    <h2>加群后 , 容易被骚扰</h2>
                    <p>提示信息频繁闪烁 , 影响工作与生活</p>
                    <img class="pkother-img" src="/public/static/img/pkother8.png" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="app">
    <h1>移动端APP下载</h1>
    <img src="/public/static/img/index/appp.png" alt="">
</div>
<div id="download">
    <h1>PC版下载</h1>
    <div class="pc-download clear">
        <a href="http://file.douyapu.com/upload/DouYaPu_setup_20180123v3105.exe"><img src="/public/static/img/win7_bth_hover.png" alt=""></a>
        <a href="http://file.douyapu.com/upload/DouYaPu_setup_20180123v3105.exe"><img src="/public/static/img/winPX_bth_hover.png" alt=""></a>
        <a href="http://file.douyapu.com/upload/DouYaPu_setup_20180123v3105.exe"><img src="/public/static/img/win8_bth_hover.png" alt=""></a>
        <a href="http://file.douyapu.com/upload/DouYaPu_setup_20180123v3105.exe" class="noMargin"><img src="/public/static/img/vipwin10_bth_hover.png" alt=""></a>
    </div>
    <h1>浏览器版本下载</h1>
    <ul class="br-download clear">
        <li><a target="_blank" href="https://ext.se.360.cn/webstore/detail/kmkccbmhhhfojnpbdfjgjpfgoedikahb"><b class="dd-360a"></b></a></li>
        <li><a href="/index/location?type=2"><b class="dd-gg"></b></a></li>
        <li><a target="_blank" href="https://ext.chrome.360.cn/webstore/detail/kmkccbmhhhfojnpbdfjgjpfgoedikahb"><b class="dd-360j"></b></a></li>
        <li><a href="/index/location?type=1"><b class="dd-bd"></b></a></li>
        <li class="noMargin"><a href="/index/location?type=2"><b class="dd-qq"></b></a></li>
        <li><a href="/index/location?type=3"><b class="dd-sg"></b></a></li>
        <li><a href="/index/location?type=1"><b class="dd-lb"></b></a></li>
        <li><a href="/index/location?type=1"><b class="dd-uc"></b></a></li>
        <li><a href="/index/location?type=1"><b class="dd-hh"></b></a></li>
        <li class="noMargin"><a href="/index/location?type=1"><b class="dd-2345"></b></a></li>
    </ul>
</div>
{include file="../common/footer" /}
</body>
</html>