<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<title>豆芽铺-低价好物</title>
		<link rel="SHORTCUT ICON" href="/public/static/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/public/static/css/sharewebpage.css"/>
		<script src="/public/static/js/clipboard.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/public/static/js/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>	
		<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container">
			<div class="img_box">
				<img src="<{$result.pic}>" alt=""  class="imgs"/>
				<span class="shop_logo"></span>
			</div>
			<div class="product_information">
				<div class="product_title">
					<{$result.title}>
				</div>
				<div class="product_price_and_sale">
					<div class="product_price fl">
						<div class="old_price">
							<span>淘宝价:</span><span>¥<{$result.Price}></span>
						</div>
						<div class="new_price">
							<div class="new_price_title fl">券后价:</div><div class="new_price_price fl">¥<{$result.Price-$result.amount}></div>
						</div>
					</div>
					<div class="product_sale fl">
						<div class="month_sale fl">
							<p class="sale_s"><{$result.sales}></p>
							<p class="sale_t">月销量</p>
						</div>
						<div class="month_amount fl">
							<p class="amount_s"><{$result.coupon-$result.couponL}></p>
							<p class="amount_t">已领券</p>
						</div>
					</div>
				</div>
				<div class="msg_copy">
					<p>点击复制按钮后,打开【手机淘宝】即可领券购买</p>
				</div>
				<div class="copy_content">
					<div class="tkl fl"><{$result.urls}></div>
					<div class="copy_btn_msg fr" data-clipboard-text="<{$result.urls}>" >复制淘口令</div>
				</div>
				<div class="msg_share">
					<p>点击右上角<span class="curson"><span class="share_img"></span></span>,分享此商品给您的微信好友</p>
				</div>
				<div class="product_store">
					<div class="backgroud_l fl"></div>
					<div class="store_name fl"><{$result.shop}></div>
					<div class="store_logo fl"></div>
				</div>
				<div class="store_information">
					<div class="store_title fl">店铺评分</div>
					<div class="store_title1 fl">描述4.8</div>
					<div class="store_arrow1 fl"></div>
					<div class="store_title2 fl">服务4.8</div>
					<div class="store_arrow2 fl"></div>
					<div class="store_title3 fl">发货4.8</div>
					<div class="store_arrow3 fl"></div>
				</div>
			</div>
		</div>
		<div class="modal">
			<div class="modal_box">
				<div class="copy_success_logo"></div>
				<div class="copy_success_msg1">
					<p>复制成功</p>
				</div>
				<div class="copy_success_msg2">
					<p>打开【手机淘宝】即可领券</p>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			//rem
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
			
//			shop type
			var type="<{$result.type}>";
			var logo1=$(".shop_logo");
			var logo2=$(".store_logo");			
			switch (type){
				case "tm":
					logo1.css({"background": "url(/public/static/img/tmall1.png) center center no-repeat","background-size": "cover"});
					logo2.css({"background": "url(/public/static/img/tmal.png) center center no-repeat","background-size": "cover"});
					break;
				case "tb":
					logo1.css({"background": "url(/public/static/img/tblogo.png) center center no-repeat","background-size": "cover"});
					logo2.css({"background": "url(/public/static/img/webpagetb.png) center center no-repeat","background-size": "cover"});
					break;
				default:
					break;
			}
			
			
			
			var u = navigator.userAgent;
			if(u.indexOf("iPad")!==-1 || u.indexOf("iPhone")!==-1 || u.indexOf("iPod")!==-1){
				$(".copy_btn_msg").on("click",function(){
					$(".copy_success_logo").css({"background":"url(/public/static/img/copy_errors.png) center center no-repeat","background-size": "cover"});
	              	$(".copy_success_msg1 p").html("复制失败");
	              	$(".copy_success_msg2 p").html("请手动拷贝");
	              	$(".modal").show();		        		
	        		setTimeout(function(){
	        			$(".modal").hide();
        			},1000) 
				})
			}else{
				$(document).ready(function(){    
			   var clipboard = new Clipboard('.copy_btn_msg');   
			   clipboard.on('success', function(e) { 
	   	 			$(".copy_success_logo").css({"background":"url(/public/static/img/copy_successs.png) center center no-repeat","background-size": "cover"});
	              	$(".copy_success_msg1 p").html("复制成功");
	              	$(".copy_success_msg2 p").html("打开【手机淘宝】即可领券");
	              	$(".copy_btn_msg").html("复制成功  ");
		        		$(".modal").show();		        		
		        		setTimeout(function(){
		        			$(".modal").hide();
		        		},1000)
			        });  
			   clipboard.on('error', function(e) {  
	              $(".copy_success_logo").css({"background":"url(/public/static/img/copy_errors.png) center center no-repeat","background-size": "cover"});
	              $(".copy_success_msg1 p").html("复制失败");
	              $(".copy_success_msg2 p").html("请手动复制");
		              $(".modal").show();		        		
		        		setTimeout(function(){
		        			$(".modal").hide();
		        		},1000)
			        });  
				}) 
			}
			$(document).ready(function(){    
			   var clipboard = new Clipboard('.copy_btn_msg');   
			   clipboard.on('success', function(e) { 
	   	 			$(".copy_success_logo").css({"background":"url(/public/static/img/copy_successs.png) center center no-repeat","background-size": "cover"});
	              	$(".copy_success_msg1 p").html("复制成功");
	              	$(".copy_success_msg2 p").html("打开【手机淘宝】即可领券");
	              	$(".copy_btn_msg").html("复制成功  ");
		        		$(".modal").show();		        		
		        		setTimeout(function(){
		        			$(".modal").hide();
		        		},1000)
			        });  
			   clipboard.on('error', function(e) {  
	              $(".copy_success_logo").css({"background":"url(/public/static/img/copy_errors.png) center center no-repeat","background-size": "cover"});
	              $(".copy_success_msg1 p").html("复制失败");
	              $(".copy_success_msg2 p").html("请手动复制");
		              $(".modal").show();		        		
		        		setTimeout(function(){
		        			$(".modal").hide();
		        		},1000)
			        });  
			}) 
			//链接转淘口令
//			$.ajax({
//				type:"get",
//				url:"http://storage.douyapu.com/taobao/sign.php?title=<{$result.title}>&url=https:<{$result.urls}>",
//				async:true,
//				success:function(e){
//					var e=JSON.parse(e);
//					if(e.status==1){
//						$(".tkl").html(e.sign);
//						$(".copy_btn_msg").attr("data-clipboard-text",e.sign)
//				}					
//				},
//				error:function(){
//					$(".tkl").html("淘口令生成失败");
//				}
//				
//			});
			//微信分享
					//获取url
			var kk=window.location.href;			
			$.ajax({
				type:"get",
				url:"http://www.douyapu.com/wechat/data?url=" + kk,
				async:true,
				success:function(e){
					var  e=JSON.parse(e);
					wx.config({
					    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					    appId: e.appId, // 必填，公众号的唯一标识
					    timestamp: e.timestamp, // 必填，生成签名的时间戳
					    nonceStr: e.nonceStr, // 必填，生成签名的随机串
					    signature: e.signature,// 必填，签名，见附录1
					    jsApiList: ["menuItem:share:appMessage", "menuItem:share:timeline"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
					});
					wx.ready(function(){
						//分享到朋友圈
						wx.onMenuShareTimeline({
						    title: '<{$result.title}>', // 分享标题
						    link: kk, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
						    imgUrl: '<{$result.pic}>', // 分享图标
						    success: function () { 
						        // 用户确认分享后执行的回调函数
						    },
						    cancel: function () { 
						        // 用户取消分享后执行的回调函数
						    }
						});
						//分享给朋友
						wx.onMenuShareAppMessage({
					    title: '<{$result.title}>', // 分享标题
					    desc: '', // 分享描述
					    link: 'http://www.douyapu.com/wechat/share', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
					    imgUrl: '<{$result.pic}>', // 分享图标
					    type: '', // 分享类型,music、video或link，不填默认为link
					    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
					    success: function () { 
					        // 用户确认分享后执行的回调函数
					    },
					    cancel: function () { 
					        // 用户取消分享后执行的回调函数
					    }
						});
					});
					wx.error(function(res){
					    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
					});
						}
			});
			
		</script>
	</body>
</html>
