<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/public/static/css/soft/zui.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/static/css/soft/index.css" />
	</head>

	<body>
		<div class="container-fluid body-box">
			<div class="row backColor">
				<div class="fl" style="display: none;" title="返回" id="person-info-back">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<polyline points="15 18 9 12 15 6" />
					</svg>
				</div>
				<div id="collect" class="fr" style="display: none;">
					<i></i>
					<b></b>
					<span>我的收藏</span>
				</div>
				<div class="fr" id="login">
					<a id="login-left">
						<b class="portrait1"></b>
						<b class="portrait2"></b>
						<span>登录</span>
					</a>
					<a id="loginSign" class="hidden">退出</a>
					<div class="loginList hidden">
						<p>
							<a href="/user/login?type=qq" target="_blank">
								<b class="qqlogin"></b>QQ登录
							</a>
						</p>
						<p>
							<a href="/user/login?type=sina" target="_blank">
								<b class="wblogin"></b>微博登录
							</a>
						</p>
						<p>
							<a href="/user/login?type=weixin" target="_blank">
								<b class="wxlogin"></b>微信登录
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="row relative-box" id="tool-col">
				<div class="col-xs-3">
					<span class="cat-select">全部分类</span>
				</div>
				<div class="col-xs-6 input-text">
					<b class="my-icon-search"></b>
					<input type="text" placeholder="商品名" id="search-val" maxlength="10">
					<b class="my-icon-close hidden"></b>
					<span></span>
					<div id="search-history" style="display: none;">
						<ul>
						</ul>
						<div>
							<span id="his-dele">清除历史记录</span>
						</div>
					</div>
				</div>
				<div class="col-xs-3 input-button">
					<div class="dropdown">
						<button class="btn" type="button" data-toggle="dropdown">综合排序 </button>
						<span class="downIcon"></span>
						<ul class="dropdown-menu">
							<li class="active" data-type="1">
								<a>综合排序</a>
							</li>
							<li data-type="2">
								<a>热门排序</a>
							</li>
							<li data-type="3">
								<a>折扣排序</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="catIdList" style="display: none;">
					<ul class="clearfix">
						<!--<li data-Id=1><b class="b1"></b>衣服衣服</li>
						<li data-Id=2><b class=""></b>衣服衣服</li>
						<li data-Id=3><b class=""></b>衣服衣服</li>
						<li data-Id=4><b class=""></b>衣服衣服</li>
						<li data-Id=5><b class=""></b>衣服衣服</li>
						<li data-Id=6><b class=""></b>衣服衣服</li>
						<li data-Id=7><b class=""></b>衣服衣服</li>
						<li data-Id=8><b class=""></b>衣服衣服</li>
						<li data-Id=9><b class=""></b>衣服衣服</li>-->
					</ul>
				</div>
			</div>
			<div id="find-coupon-num" class="hide row small-font">
			</div>
			<div id="loading-msg" class="row">
				加载中....
			</div>
			<div id="search-sign" class="row">
			</div>
			<div id="no-search-sign" class="row">
			</div>
			<div id="coupon-main" class="row">
				<div class="container-fluid">

				</div>
			</div>
			<div class="my-button-group">
				<button id="scroll-top"><b></b></button>
				<button id="back-butt"><b></b></button>
				<button id="fresh-butt"><b></b></button>
			</div>
		</div>
	</body>
	<script>
		window.nodeRequire = window.require;
		delete window.require;
		delete window.exports;
		delete window.module;
	</script>
	<script src="/public/static/js/jquery-1.10.2.js"></script>
	<script src="/public/static/js/soft/zui.min.js"></script>
	<!--<script src="/public/static/js/soft/common.js"></script>-->
	<script src="/public/static/js/soft/index.js"></script>

</html>